/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* Set Defualts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */

body {
    background-color: #F9D9E6;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
    font-family: 'Bitter', sans-serif;
}

/* Calculator Container */

#cal-container {
    background-color: #F3B3CE;
    width: 480px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 32px;
}

#calc-title {
    color: #614852;
    text-align: right;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

#display-container {
    background-color: #adb1bd;
    color: #2B2F3D;
    border: 2px solid white;
    padding: 16px 24px;
    text-align: right;
    border-radius: 12px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 24px;
}

#display-text {
    font-size: 36px;
    word-wrap: break-word;
}

#button-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.grid {
    display: flex;
    gap: 16px;
}

.left-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 16px;
}

button {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: none;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Bitter', sans-serif;
    font-size: 28px;
}

button:hover {
    filter: brightness(80%);
}

button#num {
    background-color: #AEE9FF;
}

button#clear, 
button#delete {
    background-color: #B6E287;
    font-size: 18px;
}

button#operator,
button#equals,
button#neg {
    background-color: #FFFAFF;
}

button#equals {
    border-radius: 12px;
    flex: 1;
}